@font-face{
    font-family: "Azonix";
    src: url("misc/Azonix.otf");
}

@font-face{
    font-family: "DS";
    src: url("misc\Sackers Gothic Light AT.otf")
}

#title {
    font-family: Azonix;
    font-size: 250%;
    color: white;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 20%;
    right: 20%;
    border-top: 2px solid #ffa64d;
}

#text{
    font-family: Azonix;
    color: white;
    text-align: left;
    transform: translateY(270%);
    border-top: 2px solid white;

    margin-left: 25%;
    margin-right: 25%;
    padding-top: 30px;
    position: fixed;
}

#bg {
    position: fixed;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/media/hitchariide-1.jpg");
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

input{
    border-radius: 10px;
    margin: 5px;    
    font-family: DS;
    font-size: 100%;
}

#user{
    width: 47.4%;
    padding: 10px;
    border-style: none;
}

#email{
    width: 47.4%;
    padding: 10px;
    border-style: none;
}

#subject{
    width: 47.4%;
    padding: 10px;
    border-style: none;
}

#discord{
    width: 47.4%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-family: DS;
    font-size: 100%;
    border-style: none; 
}

#msg{
    width: 97.5%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-family: DS;
    font-size: 100%;
    border-style: none;
}


#submit-form{
    font-family: Azonix;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: white 1px solid;
    border-radius: 3px;
    cursor: pointer;
    font-size: 120%;
    display: block;
    margin: 0 auto;
}

legend{
    margin: auto;
    width: auto;
    font-size: 150%;
    font-family: Azonix;
}

#inquiry-form{
    color: white;
    border-radius: 5px;
    width: 65%;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 370px;
}
